<div class="recipes-grid mt-3">
    <h2><app-icon class="me-2" name="list_recipes.png" alt="Liste des recettes"></app-icon>Recettes</h2>
</div>

<div class="recipes-status mt-3">
    @if (isAdmin) {
        @if (draftRecipes$ | async; as draftRecipes) {
            <section class="recipe-status-section">
                @if (draftRecipes.length > 0) {
                    <h3 class="recipes-grid mb-3">Brouillons</h3>
                    <div class="recipes-grid">
                        @for (recipe of draftRecipes; track recipe.id) {
                            <recipe-card [recipe]="recipe"></recipe-card>
                        }
                    </div>
                }
            </section>
            <hr>
        }
    }

    @if (approvedRecipes$ | async; as approvedRecipes) {
        <section class="recipe-status-section mb-4">
            @if (approvedRecipes.length > 0) {
                <div class="recipes-grid">
                    @for (recipe of approvedRecipes; track recipe.id) {
                        <recipe-card [recipe]="recipe"></recipe-card>
                    }
                </div>
            } @else {
                <div class="alert alert-secondary">Aucune recette disponible.</div>
            }
        </section>
    }

</div>
