// src/styles/_ng-select.scss
// règles génériques pour les ng-select avec thème paramétrable
@mixin ng-select-theme($name, $text-color, $background-color) {
    .ng-select.ng-select-#{$name} {
        .ng-option,
        .ng-placeholder,
        .ng-multi-label-tmp,
        .ng-value,
        .ng-clear-wrapper {
            color: $text-color !important;
        }

        .ng-placeholder {
            font-family: lydianbt;
            font-size: 18px;
        }

        .ng-multi-label-tmp {
            padding-bottom: 5px;
            padding-left: 3px;
            font-family: lydianbt;
            font-size: 18px;
        }

        .ng-arrow {
            border-top-color: $text-color !important;
        }

        .ng-select-container {
            background-color: $background-color;
        }

        .ng-option {
            background-color: $background-color !important;
            &.ng-option-marked {
                font-weight: 900 !important;
            }
        }

        &.ng-select-opened {
            .ng-arrow {
                border-bottom-color: $text-color !important;
            }
        }
    }
}

@mixin ng-select-green {
    @include ng-select-theme('green', white, var(--green));
}

@mixin ng-select-brown {
    @include ng-select-theme('brown', var(--brown), white);
}
